.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
desktop.ini

#iide
.vscode/
.idea/
*.code-workspaces
*.swp
*.swo

*.log
tmp/
temp/


# for Java

target/
*.class
.mvn/
mvnw
mvnw.cmd
*.jar
*.war
application-local.yml
application-local.properties

.gradle/
build/


# for python

__pycache__/
*.py[cod]
venv/
.env
.env.*
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
dist/
*.egg-info/


# deocker
docker-compose.override.yml


# infra

infrastructure/rabbitmq-data/
*.tgz
charts/**/charts/


secrets/
*.pem
*.key
*.crt
