# RabbitMQ Configuration
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=

# Queue Names
CUSTOMER_QUEUE=
INVENTORY_QUEUE=

# Analytics System
ANALYTICS_BASE_URL=http://localhost:5000
